<h1>Word Puzzle Challenge</h1>
<p>Player 1</p>

<div class='container'>
  <form action='/result' method='post'>
    <div class='form-group'>
      <label for='user_input'>Input</label>
      <input id='user_input' name='user_input' type='text'>
    </div>
    <button type='submit' class='btn button'>Submit</button>
  </form>
</div>
