<h1>Guess the Word</h1>

<div class='container'>
  <p>Result: <%= @results %></p>
</div>



<form action='/guess' method='post'>
  <div class='form-group'>
    <label for='user_guess'>Guess:</label>
    <input id='user_guess' name='user_guess' type='text'>
  </div>
  <button type='submit' class='btn button'>Submit</button>
</form>
